@charset "utf-8";
.menu_pr tr td {
	text-align: left;
	color: #FC3;
	font-weight: bold;
	font-size: 14px;
}

.mail {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	color: #FFF;
	background-color: #445201;
	border: 1px solid #666;
}

._page {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 10px;
	cursor: auto;
}

#apDiv1 {
	position:absolute;
	left:222px;
	top:16px;
	width:976px;
	height:139px;
	z-index:1;
}
.style6 {
	color: #B8C8B7;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	letter-spacing: 0.1em;
}
a.style6 {
	color: #B8C8B7;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	letter-spacing: 0.1em;
	text-decoration: underline;
}

.style7 {font-family: Verdana, Arial, Helvetica, sans-serif; font-style: normal; font-size: 14px; color: #718D3B;}
.style8 {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 12px;
}
.style17 {
	color: #FFFFFF;
	font-size: 12px;
}
body,td,th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
}
.style21 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	font-style: italic;
	font-weight: bold;
	color: #FC0;
}
.style22 {
	font-size: 30px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.style24 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	font-style: normal;
	color: #718D3B;
	text-decoration: underline;
}

a.style24 {
	color: #718D3B;
	text-decoration: underline;
	}

a:hover.style24 {
	color: #FF6;
	text-decoration: underline;
}

.style25 {
	font-size: 25px;
	font-style: normal;
	font-family: "Times New Roman", Times, serif;
}
.style27 {font-size: 14px}

.menu_pr {
	color: #FFFFFF;
	font-weight: normal;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 15px;
	text-align: left;
}

a.menu_pr {
	color: #FFFFFF;
	font-weight: normal;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 15px;
	text-align: left;
}


a:hover.menu_pr {
	color: #FC3;
	font-weight: normal;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 15px;
	text-align: left;
}

.banners {
	color: #FFF;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	text-decoration: underline;
	text-align: center;
}

a.banners {
	color: #FFFFFF;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	text-decoration: underline;
	text-align: center;
}
.style6_yello {
	color: #FC0;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	letter-spacing: 0.1em;
}

#overlay{ background-image: url(overlay.png); }

* html #overlay{
	background-color: #000;
	back\ground-color: transparent;
	background-image: url(blank.gif);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="overlay.png", sizingMethod="scale");
	}
	
	#lightbox{
	background-color:#eee;
	padding: 10px;
	border-bottom: 2px solid #666;
	border-right: 2px solid #666;
	}
#lightboxDetails{
	font-size: 0.8em;
	padding-top: 0.4em;
	}	
#lightboxCaption{ float: left; }
#keyboardMsg{ float: right; }

#lightbox img{ border: none; } 
#overlay img{ border: none; }